<div id="container">
    <h1 id="results">Results</h1>

    <img id="map" src="http://maps.google.com/maps/api/staticmap?center=<%= @search_params[:lat] %>,<%= @search_params[:lng] %>&zoom=13&size=120x120&sensor=false">
  <ul> 
  <% @results["data"].each do |photo| %>
    <li>
      <h3><%= photo["user"]["username"] %></h3>
      <p><% if photo["caption"] %><%= photo["caption"]["text"] %><% end %></p>
      <p class="timestamp"><a href="<%= photo["link"] %>"><%= Time.at(photo["created_time"].to_i).strftime("%m/%d/%Y %l:%M %P") %></a></p>
      <img src="<%= photo["images"]["standard_resolution"]["url"] %>">
    </li>
  <% end %>
  </ul>
</div>
