<div id="container">
  <ul> 
  <% @results["data"].each do |photo| %>
    <li>
      <h3><%= photo["user"]["username"] %></h3>
      <p><% if photo["caption"] %><%= photo["caption"]["text"] %><% end %></p>
      <p class="timestamp"><a href="<%= photo["link"] %>"><%= Time.at(photo["created_time"].to_i).strftime("%m/%d/%Y %l:%M %P") %></a></p>
      <img src="<%= photo["images"]["standard_resolution"]["url"] %>">
    </li>
  <% end %>
  </ul>
</div>
